@import "tailwindcss";
@import "tw-animate-css";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: spin 1s linear infinite;
}

:root {
  --text-primary: #0A2540;
  --text-secondary: #425466;
  --text-tetiary: #8E98A3;

  --bg-primary: #FFFFFF;
  --bg-secondary: #F4F4F4;
  --bg-tetiary: #EBEBEB;
  --bg-quantinary: #D0D0D0;
  --bg-primary-lighter: #FBFBFB;

  /* Border colors */
  --border-primary: #EDEDED;
  --border-secondary: #D1D1D1;
  --border-tetiary: #B3B3B3;
  --border-quantinary: #6E6E6E;

  --main-primary: #599907;
}

@theme {
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tetiary: var(--text-tetiary);

  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tetiary: var(--bg-tetiary);
  --color-bg-quantinary: var(--bg-quantinary);
  --color-bg-primary-lighter: var(--bg-primary-lighter);

  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-tetiary: var(--border-tetiary);
  --color-border-quantinary: var(--border-quantinary);

  --color-main-primary: var(--main-primary);
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}

.dark {
  --bg-primary: #0B0A0A;
  --bg-secondary: #141515;
  --bg-tetiary: #1B1E1E;
  --bg-quantinary: #323737;
  --bg-primary-lighter: #373D3E;

  --border-primary: #1D1D1D;
  --border-secondary: #2F2F2F;
  --border-tetiary: #4D4D4D;
  --border-quantinary: #909090;

  --text-primary: #F1FCFD;
  --text-secondary: #CDD6D7;
  --text-tetiary: #798586;

  --main-primary: #599907;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid var(--color-bg-primary);
  border-bottom-color: var(--color-main-primary);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation .9s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}